<div class="page">
    <h1>Debugging Exercise Generator</h1>

    <h4>Create debugging exercises using ChatGPT!</h4>
    
    <p>Simply add a description of the program is meant to do, add a version of the program that is correct and state what errors you want to add, and the LLM will do the rest!</p>

    <p>Want some help getting started? Click the button below to view some example programs.</p>

    <button mat-flat-button [hidden]="true" type="submit" color="primary">Show examples</button>
    
    <!--Could be put in own component or dropdown-->
    <div class="program-details-pane">
        <h2>Program Details</h2>
        <div>
            <form [formGroup]="programDetailsForm" class="program-details-form" (ngSubmit)="generateExercise()">
                <h4>Program Description</h4>
                <mat-form-field>
                    <mat-label>Program Description</mat-label>
                    <textarea matInput id="program-description" matTooltip="Enter a description of what the program should do" matTooltipShowDelay="tooltipShowDelay" type="text" formControlName="programDescription" required></textarea>
                    <mat-error>Make sure the program description isn't blank</mat-error>
                </mat-form-field>

                <h4>Correct Program</h4>
                <mat-form-field>
                    <mat-label>Correct Program</mat-label>
                    <textarea matInput id="correct-program" matTooltip="Enter an error-free program that correctly fulfils the program description" matTooltipShowDelay="tooltipShowDelay" type="text" formControlName="correctProgram" required></textarea>
                    <mat-error>Make sure the correct isn't blank</mat-error>
                </mat-form-field>
                <!--<app-code-viewer matInput formControlName="correctProgram" [codeToDisplay]="sampleProgram" [isReadOnly]="false" style="margin-bottom: 1.5%;"></app-code-viewer>-->

                <mat-form-field>
                    <mat-label >Number of syntax errors</mat-label>
                    <mat-select matTooltip="A syntax error is a definition here" matTooltipShowDelay="tooltipShowDelay" matNativeControl formControlName="numberSyntaxErrors" required>
                        <mat-option *ngFor="let i of [0,1,2,3]" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                    <mat-error>Make sure that you select a valid value</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Number of runtime errors</mat-label>
                    <mat-select matTooltip="A runtime error is a definition here" matTooltipShowDelay="tooltipShowDelay" matNativeControl formControlName="numberRuntimeErrors" required>
                        <mat-option *ngFor="let i of [0,1,2,3]" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                    <mat-error>Make sure that you select a valid value</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Number of logical errors</mat-label>
                    <mat-select matTooltip="A logical error is a definition here" matTooltipShowDelay="tooltipShowDelay" matNativeControl formControlName="numberLogicalErrors" required>
                        <mat-option *ngFor="let i of [0,1,2,3]" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                    <mat-error>Make sure that you select a valid value</mat-error>
                </mat-form-field>

                <button mat-flat-button type="submit" color="primary" [disabled]="!programDetailsForm.valid || loading || remainingRegenerations == 0">{{submitButtonDisplay()}}</button>
            </form>
        </div>
    </div>

    <div *ngIf="loading" class="generated-program-pane exercise-generations">
        <h2>Loading...</h2>
    </div>

    <div *ngIf="exerciseGenerated" class="exercise-generations">
        <app-generated-exercise-view *ngFor="let exercise of generatedExercises" [correctProgram]="exercise.correctProgram" [incorrectProgram]="exercise.incorrectProgram" [errorExplanations]="exercise.errorExplanations" [fullResponse]="exercise.fullResponse" [regenerationNumber]="exercise.regenerationNumber"></app-generated-exercise-view>
    </div>
</div>