<div class="page">
    <h1>Debugging Exercise Generator</h1>
    
    <!--Could be put in own component or dropdown-->
    <div class="program-details-pane">
        <h2>Program Details</h2>
        <!--Form here-->
        <div>
            <form [formGroup]="programDetailsForm" class="program-details-form" (ngSubmit)="generateExercise()">
                <h4>Program Description</h4>
                <mat-form-field>
                    <mat-label>Program Description</mat-label>
                    <textarea matInput id="program-description" type="text" formControlName="programDescription" required></textarea>
                </mat-form-field>

                <h4>Correct Program</h4>
                <mat-form-field>
                    <!--Ideally have CM component here-->
                    <mat-label>Correct Program</mat-label>
                    <textarea matInput id="correct-program" type="text" formControlName="correctProgram" required></textarea>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Number of syntax errors</mat-label>
                    <mat-select matNativeControl formControlName="numberSyntaxErrors" required>
                        <mat-option *ngFor="let i of [0,1,2,3]" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Number of runtime errors</mat-label>
                    <mat-select matNativeControl formControlName="numberRuntimeErrors" required>
                        <mat-option *ngFor="let i of [0,1,2,3]" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Number of logical errors</mat-label>
                    <mat-select matNativeControl formControlName="numberLogicalErrors" required>
                        <mat-option *ngFor="let i of [0,1,2,3]" value="{{i}}">{{i}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-flat-button type="submit" color="primary" [disabled]="!programDetailsForm.valid || loading || remainingRegenerations == 0">{{submitButtonDisplay()}}</button>

            </form>
        </div>
    </div>

    <div *ngIf="loading" class="generated-program-pane">
        <h2>Loading...</h2>
    </div>

    <div *ngIf="exerciseGenerated">
        <app-generated-exercise-view *ngFor="let exercise of generatedExercises" [incorrectProgram]="exercise.incorrectProgram" [errorExplanations]="exercise.errorExplanations" [fullResponse]="exercise.fullResponse"></app-generated-exercise-view>
    </div>

</div>